/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --font-size-min: .5rem;
    --font-size-max: 2.1rem;
    --font-size: 1rem;
}

/* navbar  */
header {
    display: flex;
    align-items: center;
    height: 6.1rem;
    padding: .8rem 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
}

header.scrolled {
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 68rem;
    max-width: 90%;
    margin: 0 auto;
    height: 4.5rem;
}

/* brand */
nav a {
    text-decoration: none;
}

nav .brand {
    padding: 1rem 0;
    margin-right: 2em;
}

nav .brand a{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 900;
    position: relative;
    color: black;
    letter-spacing: .08rem;
}

nav .brand a:hover{
    cursor: pointer;
}

nav .brand a:active{
    cursor: pointer;
    color: black;
}

nav .brand a span{
    font-size: 1.6rem;
    color: white;
    background-color: #3E64FF;
    border-radius: 30px;
    padding: 0.1rem 0.7rem;
    position: relative;
    left: 10.5px;
    top: 0px;
    z-index: -1;
}

/* menu toggler */
nav .menu-toggler {
    display: none;
}


/* menu links */
nav .nav-links {
    display: flex;
    justify-content: flex-end;
    /* margin-left: 20px; */
}

nav .menu-links {
    list-style: none;
    display: flex;
}

nav .menu-links li{
    padding: .8rem 2rem;
}

nav .menu-links li a{
    font-size: 1.06rem;
    color: #1c1d1f;
    position: relative;
}

nav .menu-links li a::before{
    content: "";
    position: absolute;
    bottom: -7px;
    height: .14rem;
    width: 100%;
    background-color: #3E64FF;
    border-radius: 3px;
    transform: scaleX(0);
    transition: transform .2s linear;

}

nav .menu-links li a:hover::before{
    transform: scaleX(1);
}

nav .menu-links li a.current-link::before{
    transform: scaleX(1);   
}

nav .menu-links li a.current-link{
    color: #3E64FF;  
}


/* profile section */
#profile {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#profile .overlay{
    grid-area: 1 / 1 / 4 / 3;
    background-color: #EAEFFE;
    width: 100%;
    height: 100vh;
} 

#profile .profile-text {
    grid-area: 2/ 2 / 4 / 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#profile .profile-text h3 {
    color: #3E64FF;
    font-size: clamp(var(--font-size-min), 1.55vw, var(--font-size-max));
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: .7rem;
}

#profile .profile-text h1 {
    --font-size-min: .5rem;
    --font-size-max: 8rem;
    color: #1c1d1f;
    font-size: clamp(var(--font-size-min),  4.1vw, var(--font-size-max));
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    margin-bottom: .6rem;
}

#profile .profile-text p {
    --font-size-min: .5rem;
    --font-size-max: 4rem;
    color: #1c1d1f;
    font-size: clamp(var(--font-size-min),  1.75vw, var(--font-size-max));
    font-weight: 800;
    letter-spacing: 0.2rem;
}

#profile .profile-text span {
    color: #3e64ff;
}


/* slack dp section */
#slack-dp{
    margin: 4rem 5rem 4rem 5rem ;
    display: flex;
    align-items: center;
    column-gap: 50px;
}

#slack-dp img {
    height: 40rem;
    width:  40rem;
}

#slack-dp .section-text h2 {
    --font-size-min: .5rem;
    --font-size-max: 5rem;
    color: #3E64FF;
    font-size: clamp(var(--font-size-min),  2.5vw, var(--font-size-max));
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    margin-bottom: .6rem;
}

/* current info section */
#current-info{
    margin: 4rem 5rem 4rem 5rem ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    height: 70vh;
    background-color: #EAEFFE;
}

#current-info .time-info {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#current-info h2{
    --font-size-min: .5rem;
    --font-size-max: 4rem;
    color: #1c1d1f;
    font-size: clamp(var(--font-size-min),  1.75vw, var(--font-size-max));
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
}

#current-info .day-info {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* github link section */
#github-link {
    margin: 4rem 5rem 4rem 5rem ;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

#github-link .text {
    padding-left: 1rem;
}

#github-link .text h2{
    --font-size-min: .5rem;
    --font-size-max: 5rem;
    color: #1c1d1f;
    font-size: clamp(var(--font-size-min),  2.5vw, var(--font-size-max));
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding-right: 1.2rem;
    margin-bottom: 1rem;
}

#github-link .text button {
    background-color: #3E64FF;
    padding: 1rem 2rem ;
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
}

#github-link .text button:hover {
    cursor: pointer;
    box-shadow: none;
}

#github-link .text a {
    font-weight: 600;
    color: white;
    font-size: clamp(var(--font-size-min),  1.4vw, var(--font-size-max));
    text-decoration: none;
}

#github-link .github-img img {
    width: 30rem;
    height: auto;
}

/* footer section */
#footer {
    margin: 4rem 0 0 0 ;
    display: flex;
    align-items: center;
    height: 20vh;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: clamp(var(--font-size-min),  1.1vw, var(--font-size-max));
    font-weight: 500;
}

/* media query */
@media (max-width: 991px) {
    nav .menu-links{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: -100%;
        left: 71px;
        width: 85.7%;
        height: 55.9%;
        transition: 0.5s;
        background-color: white;
    }
    
    nav .menu-links li{
        padding: 1rem 0 1.3rem 1.3rem;
    }

    nav .menu-toggler {
        display: flex;
        justify-content: flex-end;
        width: 81%;

    }

    nav .menu-btn {
        display: flex; 
        color: #808080;
        cursor: pointer;
        align-items: center;
        padding: .3rem .7rem;
    }
    
    nav .menu-btn span {
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        margin-left: .3rem;
    }

    nav .active{
        position: fixed;
        top: 85px;
    }

    nav .menu-toggler:active{
        cursor: pointer;
        background-color: white;
    }

}
